<footer class="site-footer {% if page.layout == 'product' %}site-mobile-footer{% endif %}" itemscope itemtype="http://schema.org/WPFooter" {% if page.url == '/' %}style="display:none"{%endif%}>
  <div class="wrap">
    <div class="row no-gutters">
<div class="col-lg-6 col-sm-6">
<p class="mt-1 mb-0"><a href="{{ site.url }}">{{ site.title }}</a> &copy; {{ site.time | date: '%Y' }}</p><small>Template by <a id="footer" href="http://github.com/" rel="nofollow">{{site.dev}}</a></small></div> 
<div class="col-lg-6 col-sm-6 text-right">
<img class="logo-pay" alt="payment logo" src="/images/logo/pay-logo.webp" style="width:320px;">
</div>
  </div>
    </div>
</footer>
