

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/slider/slider3.jpg" style="width:100%">
  <div class="textSlider"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/slider/slider2.jpg" style="width:100%">
  <div class="textSlider"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/slider/slider1.jpg" style="width:100%">
  <div class="textSlider"></div>
</div>

</div>
<br>

<div style="text-align:center;margin-bottom:25px;">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
